{% extends "default.html.twig"%}
{% block title %}Abonnementen{% endblock %}
{% block init_stylesheet %}
    <link rel="stylesheet" href="{{ base_url() }}/vendor/eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap-switch.css" />
{%endblock%}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/moment/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/vendor/eonasdan/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/js/bootstrap-switch.js"></script>
{%endblock%}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Abonnementen: {{product.naam}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Verloop abonnementen
                    </div>
                    <div class = "panel-body">
                        <div id="totalen"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Verloop registraties
                    </div>
                    <div class = "panel-body">
                        <div id="registraties"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Verloop start abonnementen
                    </div>
                    <div class = "panel-body">
                        <div id="inschrijvingen"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Verloop eind abonnementen
                    </div>
                    <div class = "panel-body">
                        <div id="uitschrijvingen"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Kortingsgroepen
                    </div>
                    <div class = "panel-body">
                        <table id= "kortingsgroepen" class= 'table table-striped table-hover'>
                            <thead>
                                <tr>
                                    <th>Kortingsgroep</th>
                                    <th>Aantal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for kortingsgroep in data.kortingsgroepen %}
                                    <tr>
                                        <td>{{kortingsgroep.titel}}</td>
                                        <td class="text-right">{{kortingsgroep.aantal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                            <p><b>Let op!</b> Deze kortingsgroepen zijn alleen van toepassing op abonnementen <i>zonder</i> collectief. Collectieve kortingen worden berekend op basis van grootte van collectief tijdens facturatie.</p>
                    </div> 
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Collectieven
                    </div>
                    <div class = "panel-body">
                        <table id= "collectievengroepen" class= 'table table-striped table-hover'>
                            <thead>
                                <tr>
                                    <th>Collectief</th>
                                    <th>Aantal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for collectief in data.collectieven %}
                                    <tr>
                                        <td>{{collectief.titel}}</td>
                                        <td class="text-right">{{collectief.aantal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block close_script %}
    <script>
        new Highcharts.Chart({
        "credits": {"enabled": false},
                "chart": {"renderTo": "registraties", "zoomType": "x", "type": "line"},
                "xAxis": {"floor": 1, "title": {"text": null}, "maxZoom": 1209600000, "type": "datetime"},
                "yAxis": {"title": {"text": null}},
                "plotOptions": {"line": {"marker": {"enabled": false}}},
                "legend": {"enabled": false},
                "title": {"text": null},
                "series": [{
                "name": null,
                        "pointInterval": 86400000,
                        "pointStart": Date.UTC({{data.registraties_laatste_maand.jaar}}, {{data.registraties_laatste_maand.maand}} - 1, {{data.registraties_laatste_maand.dag}}),
                        "data":{{data.registraties_laatste_maand.aantal |json_encode() |raw}}
                }]
        });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {"renderTo": "inschrijvingen", "zoomType": "x", "type": "line"},
                        "xAxis": {"floor": 1, "title": {"text": null}, "maxZoom": 1209600000, "type": "datetime"},
                        "yAxis": {"title": {"text": null}},
                        "plotOptions": {"line": {"marker": {"enabled": false}}},
                        "legend": {"enabled": false},
                        "title": {"text": null},
                        "series": [{
                        "name": null,
                                "pointInterval": 86400000,
                                "pointStart": Date.UTC({{data.inschrijvingen_laatste_maand.jaar}}, {{data.inschrijvingen_laatste_maand.maand}} - 1, {{data.inschrijvingen_laatste_maand.dag}}),
                                "data":{{data.inschrijvingen_laatste_maand.aantal |json_encode() |raw}}
                        }]
                });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {"renderTo": "uitschrijvingen", "zoomType": "x", "type": "line"},
                        "xAxis": {"title": {"text": null}, "maxZoom": 1209600000, "type": "datetime"},
                        "yAxis": {"title": {"text": null}},
                        "plotOptions": {"line": {"marker": {"enabled": false}}},
                        "legend": {"enabled": false},
                        "title": {"text": null},
                        "series": [{
                        "name": null,
                                "lineColor": "red",
                                "pointInterval": 86400000,
                                "pointStart": Date.UTC({{data.uitschrijvingen_laatste_maand.jaar}}, {{data.uitschrijvingen_laatste_maand.maand}} - 1, {{data.uitschrijvingen_laatste_maand.dag}}),
                                "data":{{data.uitschrijvingen_laatste_maand.aantal |json_encode() |raw}}
                        }]
                });
                new Highcharts.Chart({
                "chart": {"renderTo": "totalen", "zoomType": "x", "type": "line"},
                        "credits": {"enabled": false},
                        "xAxis": {"title": {"text": null}, "floor": 1, "maxZoom": 1209600000, "type": "datetime"},
                        "yAxis": {"title": {"text": null}},
                        "plotOptions": {"line": {"marker": {"enabled": false}}},
                        "legend": {"enabled": false},
                        "title": {"text": null},
                        "series": [{
                        "name": null,
                                "pointInterval": 86400000,
                                "pointStart": Date.UTC({{data.verloop_laatste_maand.jaar}}, {{data.verloop_laatste_maand.maand}} - 1, {{data.verloop_laatste_maand.dag}}),
                                "data":{{data.verloop_laatste_maand.aantal |json_encode() |raw}}
                        }]
                });
                $('#kortingsgroepen').DataTable({
        "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false
        });
                $('#collectievengroepen').DataTable({
        "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false
        });
                $(function () {
                $('#datetimepickerstart').datetimepicker({
                viewMode: 'years',
                        format: 'YYYY-M-D'
                });
                        $('#datetimepickerend').datetimepicker({
                viewMode: 'years',
                        format: 'YYYY-M-D'
                });
                });
                $('#datumkiezer').click(function() {
        $('.datumkiezer_form').show();
        });
                $("[name='my-checkbox']").bootstrapSwitch();
    </script>
{%endblock%}