{% extends "default.html.twig"%}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="col-lg-12">
            <h1 class="page-header">Rapport voor {{product.naam}}</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <div class="well">
                        <h4>Productspecifieke gegevens</h4>
                        <p>Uitgever: {{product.eigenaar}}</p>
                        <p>Onderdeel van: {{product.supergroep}}</p>
                        <p>Startdatum: {{product.start_jaar|date('Y-m-d')}}</p>
                        <p>Website: <a href="//{{product.website_url}}">{{product.website_url}}</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <img class="img-responsive img-rounded" src="{{ base_url() }}/resources/web/img/logos/logo_{{product.productCode | lower}}.jpg">
                    </div>
                </div>
                {%if product.heeft_abonnementen%}
                    <div class="col-lg-12">
                        <div class="well">
                            <h4>Registraties</h4>
                            <p>Registraties tot vandaag: {{data.kpi.getregistratiestotvandaag}}</p>
                            <p>Registraties zelfde periode {{datums.vorig_jaar}}: {{data.kpi.getregistratiesperiodevorigjaar}}</p>
                            <p>Verschil: {{data.kpi.verschilRegistraties | round(2,'floor')}}%</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-table fa-fw"></i> Overzicht abonnementen

                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Stand vandaag</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Stand actieve abonnementen begin {{datums.vorig_jaar}}</td>
                                            <td class="text-right">{{data.kpi.standstartvorigjaar}}</td>
                                        </tr>
                                        <tr>
                                            <td>Groei {{datums.vorig_jaar}}</td>
                                            <td class="text-right">{{data.kpi.groeivorigjaar}} %</td>
                                        </tr>
                                        <tr>
                                            <td>Stand actieve abonnementen begin {{datums.dit_jaar}}</td>
                                            <td class="text-right">{{data.kpi.standstartditjaar}}</td>
                                        </tr>
                                        <tr>
                                            <td>Ingaande abonnementen tot vandaag</td>
                                            <td class="text-right">{{data.kpi.getactivatiestotvandaag}}</td>
                                        </tr>
                                        <tr>
                                            <td>Opzeggingen tot vandaag</td>
                                            <td class="text-right">{{data.kpi.opzeggingentotvandaag}}</td>
                                        </tr>
                                        <tr>
                                            <td>Huidige stand actieve abonnees</td>
                                            <td class="text-right">{{data.kpi.huidigestand}}</td>
                                        </tr>
                                        <tr>
                                            <td>Activaties tot eind {{datums.dit_jaar}}</td>
                                            <td class="text-right">{{data.kpi.getactivatiestoteindjaar}}</td>
                                        </tr>
                                        <tr>
                                            <td>Opzeggingen tot eind {{datums.dit_jaar}}</td>
                                            <td class="text-right">{{data.kpi.opzeggingentoteindjaar}}</td>
                                        </tr>
                                        <tr>
                                            <td>Prognose eindstand actieve abonnementen {{datums.dit_jaar}}</td>
                                            <td class="text-right">{{data.kpi.prognoseeindstand}}</td>
                                        </tr>
                                        <tr>
                                            <td>Groei {{datums.dit_jaar}}</td>
                                            <td class="text-right">{{data.kpi.groeiditjaar}} %</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>* Dit zijn gegevens van betalende en actieve abonnees tot vandaag. Let op: bovenstaande aantallen zijn gebaseerd op de startdatum van het abonnement; deze kan mogelijk afwijken van de datum van aanmelden. Als begindatum van elk jaar is tevens <b>de laatste dag van het vorig jaar</b> genomen. Verder zijn alle kortingsabonnementen er uit gefilterd.</p>
                            </div>
                        </div>
                    </div>

                {%endif%}
                {%if product.heeft_koop%}
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-table fa-fw"></i> Meest verkochte toetsen laatste jaar

                            </div>
                            <div class="panel-body">
                                <p>Hier komt een tabel</p> 
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div  class="col-lg-6">
                {%if product.heeft_elearning%}
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-table fa-fw"></i> Top 5 verwerkte toetsen afgelopen 12 maanden

                            </div>
                            <div class="panel-body">
                                <table id= "top5toetsen" class= 'table table-striped table-hover'>
                                    <thead>
                                        <tr>
                                            <th>Programmanaam</th>
                                            <th>Aantal verwerkt</th>
                                            <th>Gemiddelde score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for toets in data.toetsen %}
                                            <tr>
                                                <td>{{toets.titel}}</td>
                                                <td class="text-right">{{toets.aantal}}</td>
                                                <td class="text-right">{{toets.gemiddelde}} %</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {%endif%}
                {%if product.heeft_analytics%}
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Google Analytics webviews

                            </div>
                            <div class="panel-body">
                                <div id='webviews'></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block close_script %}
    <script>
        new Highcharts.Chart({
            "credits": {"enabled": false},
            "chart": {"renderTo": "webviews", "zoomType": "x", "type": "line"},
            "xAxis": {"title": {"text": null}, "maxZoom": 1209600000, "type": "datetime"},
            "plotOptions": {"line": {"marker": {"enabled": false}}},
            "legend": {"enabled": false},
            "yAxis": {"title": {"text": null}},
            "title": {"text": null},
            "series": [{
                    "name": null,
                    "lineColor": "green",
                    "pointInterval": 86400000,
                            "pointStart": Date.UTC({{data.ga_laatste_maand.jaar}}, {{data.ga_laatste_maand.maand}} - 1, {{data.ga_laatste_maand.dag}}),
                            "data":{{data.ga_laatste_maand.aantal |json_encode() |raw}}
                }]
        });
    </script>
{%endblock%}