<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{%endblock%}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Thomas De Meyer">
        <link href="{{ base_url() }}/css/all.css" rel="stylesheet" >
    {% block init_stylesheet %}{%endblock%}
    <script src="{{ base_url() }}/js/jquery.js" ></script>
    <script src="{{ base_url() }}/js/bootstrap.js"></script>
    <script src="{{ base_url() }}/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
    <script src="{{ base_url() }}/js/metisMenu.js"></script>
    <script src="{{ base_url() }}/js/highcharts.js"></script>
        <script src="{{ base_url() }}/js/highmaps.js"></script>
        <script src="{{ base_url() }}/js/all.js"></script>
{% block init_script %}{%endblock%}
</head>
<body>
    <div id='wrapper'>
    {% block content %}{%endblock%}
</div>
<div id="footer">
    {% block footer %}
        <p class="text-center">Versie 1.1. Neem contact op met <a href="mailto:meyer@prelum.nl">Thomas</a> voor vragen of opmerkingen.</p>
    {% endblock %}
</div>
{% block close_script %}{%endblock%}
</body>
</html>
