{% extends "default.html.twig"%}
{% block title %}Demografie{% endblock %}
{% block init_script %}
    <script>
        var product = {{product|json_encode()|raw}};
                var data = {{data|json_encode()|raw}};</script> 
    {%endblock%}
    {% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Demografie: {{product.naam}}</h1>
            </div>        
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Spreiding leeftijden
                    </div>
                    <div class = "panel-body">
                        <div id='spreiding_leeftijdengeslacht'></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Organisaties
                    </div>
                    <div class = "panel-body">
                        <table id= "organisaties" class= 'table table-striped table-hover'>
                            <thead>
                                <tr>
                                    <th>Organisatie</th>
                                    <th>Afdeling</th>
                                    <th>Aantal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for organisatie in data.organisaties %}
                                    <tr>
                                        <td>{{organisatie.titel}}</td>
                                        <td>{{organisatie.afdeling}}</td>
                                        <td class="text-right">{{organisatie.aantal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Beroepsverenigingen
                    </div>
                    <div class = "panel-body">
                        <table id= "beroepsverenigingen" class= 'table table-striped table-hover'>
                            <thead>
                                <tr>
                                    <th>Beroepsvereniging</th>
                                    <th>Aantal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for beroepsvereniging in data.beroepsverenigingen %}
                                    <tr>
                                        <td>{{beroepsvereniging.titel}}</td>
                                        <td class="text-right">{{beroepsvereniging.aantal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>       
    </div>                
{% endblock %}
{% block close_script %}
    <script>
                new Highcharts.Chart({
                chart: {renderTo: "spreiding_leeftijdengeslacht", zoomType: "x", type: "bar"},
                        title: {
                        text: null
                        },
                        xAxis: [{
                        categories:{{data.leeftijdsgroepen.leeftijdsgroep |json_encode() | raw}},
                                reversed: false,
                                labels: {
                                step: 1
                                }
                        }, {
                        opposite: true,
                                reversed: false,
                                categories:{{data.leeftijdsgroepen.leeftijdsgroep |json_encode() | raw}},
                                linkedTo: 0,
                                labels: {
                                step: 1
                                }
                        }],
                        plotOptions: {
                        series: {
                        stacking: 'normal'
                        }
                        },
                        credits: {
                        enabled: false
                        },
                        series: [{
                        type: 'bar',
                                name: 'Vrouw',
                                title: null,
                                data:{{data.leeftijdsgroepen.vrouw|json_encode() | raw}}
                        },
                        {
                        type: 'bar',
                                name: 'Man',
                                title: null,
                                data:{{data.leeftijdsgroepen.man|json_encode() | raw}}
                        }]
                });
                $('#organisaties').DataTable({
        "pageLength": 10,
                "order": [[ 2, "desc" ]],
                "info": false,
                "searching": false
        });
                $('#beroepsverenigingen').DataTable({
        "pageLength": 10,
                "order": [[ 1, "desc" ]],
                "info": false,
                "searching": false
        });
    </script>
{%endblock%}
