{% extends "default.html.twig"%}
{% block title %}Nascholing{% endblock %}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/twbs/bootstrap/js/modal.js"></script>
{%endblock%}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nascholing: {{product.naam}}</h1>
            </div>        
            <div class="col-lg-2">
                <div class="well">
                    <h5>Resultaat per: {{data.toetsen.resultaat_per}}</h5> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddeld gemaakt: {{data.toetsen.gemiddeld_gemaakt}}</h5> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddeld gehaald: {{data.toetsen.gemiddeld_gehaald}}</h5> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddeld gefaald: {{data.toetsen.gemiddeld_gefaald}}</h5>  
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddeld niet afgerond: {{data.toetsen.gemiddeld_niet_afgerond}}</h5> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddelde score: {{data.toetsen.gemiddeld_resultaat|round(1, 'floor') }}</h5> 
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Artikelen
                    </div>
                    <div class = "panel-body">
                        <table id='toetsen' class= 'table table-striped table-bordered table-hover'>
                            <thead>
                                <tr>
                                    <td>uitgave id</td>
                                    <td>uitgave titel</td>
                                    <td>artikel id</td>
                                    <td>artikel titel</td>
                                    <td>artikel einddatum</td>
                                    <td>volgorde</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uitgave in data.toetsen.uitgaves %}
                                    {% for artikel in uitgave.artikelen %}
                                        <tr>
                                            <td>{{artikel.uitgave_id}}</td>
                                            <td>{{artikel.uitgave_titel}}</td>
                                            <td>{{artikel.artikel_id}}</td>
                                            <td>{{artikel.artikel_titel}}</td>
                                            <td>{{artikel.artikel_publicatie_datum}}</td>
                                            <td>{{artikel.artikel_volgorde}}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>uitgave id</td>
                                    <td>uitgave titel</td>
                                    <td>artikel id</td>
                                    <td>artikel titel</td>
                                    <td>artikel einddatum</td>
                                    <td>volgorde</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block close_script %}
    <script>
        $(document).ready(function () {
            var table = $('#toetsen').DataTable({
                "columnDefs": [
                    {"visible": false, "targets": [0, 1]}
                ],
                "autoWidth": false,
                "order": [[0, 'asc'], [5, 'asc']],
                "displayLength": 20,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({page: 'current'}).nodes();
                    var last = null;

                    api.column(1, {page: 'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                                    );

                            last = group;
                        }
                    });
                }
            });
            $('#toetsen tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([1, 'desc']).draw();
                }
                else {
                    table.order([1, 'asc']).draw();
                }
            });
            $('#toetsen tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                document.location.href = 'nascholing/artikel/' + data[2];

            });
        });
    </script>
{%endblock%}