{% extends "default.html.twig" %}
{% block title %}Geografie{% endblock %}
{% block init_script %}
    <script src="http://code.highcharts.com/mapdata/countries/nl/nl-all.js"></script>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Geografie: {{ product.naam }}</h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Nederland
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <table id="woonplaatsen" class='table table-striped table-hover'>
                                <thead>
                                <tr>
                                    <th>Plaats</th>
                                    <th>Aantal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for woonplaats in data.woonplaatsen %}
                                    <tr>
                                        <td>{{ woonplaats.name }}</td>
                                        <td class="text-right">{{ woonplaats.value }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <div id="kaart_nederland"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Landen
                    </div>
                    <div class="panel-body">
                        <table id="landen" class='table table-striped table-hover'>
                            <thead>
                            <tr>
                                <th>Land</th>
                                <th>Aantal</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for land in data.landen %}
                                <tr>
                                    <td>{{ land.titel }}</td>
                                    <td class="text-right">{{ land.aantal }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block close_script %}
    <script>
        $('#woonplaatsen').DataTable({
            "pageLength": 10,
            "order": [[1, "desc"]],
            "info": false,
            "searching": false
        });
        $('#landen').DataTable({
            "pageLength": 10,
            "order": [[1, "desc"]],
            "info": false,
            "searching": false
        });
        $(function () {

            // Initiate the chart
            $('#kaart_nederland').highcharts('Map', {
                title: {
                    text: null
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                },
                series: [{
                    data:{{ data.provincies | json_encode() | raw }},
                    mapData: Highcharts.maps['countries/nl/nl-all'],
                    joinBy: 'hc-key',
                    keys: ['hc-key', 'value'],
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    },
                }]
            });
        });

    </script>
{% endblock %}
