{% extends "default.html.twig"%}
{% block title %}Home{% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
    </nav>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h1 class="page-header">DVK Media Group</h1>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Prelum Medische Media en Nascholing
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <ul>
                        <li>
                            <a href="{{ base_url() }}/AI/dashboard">A&I</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/FOC/dashboard">FocusVasculair</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/IMA/dashboard">Imago</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/JDD/dashboard">Jurisdidact</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/NRV/dashboard">Nervus</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/MFM/dashboard">PiL</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/NTT/dashboard">Nederlands Tijdschrift voor Tandheelkunde</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PHY/dashboard">Physios</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PP/dashboard">Praktische Pediatrie</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PSF/dashboard">Psyfar</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PSV/dashboard">Psyfar vs</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PSX/dashboard">PsyXpert</a>
                        </li>
                        <li>
                            Quality Practice
                            <ul>
                                <li>
                                    <a href="{{ base_url() }}/QPTA/dashboard">Quality Practice Tandartsen</a>
                                </li>
                                <li>
                                    <a href="{{ base_url() }}/QPMO/dashboard">Quality Practice Mondhygiënisten</a>
                                </li>
                                <li>
                                    <a href="{{ base_url() }}/QPAS/dashboard">Quality Practice Assistenten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/QSS/dashboard">Quintesse</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/PEB/dashboard">Tijdschrift voor bedrijfsopvolging</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div id="prelum"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Accredidact
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <ul>
                        <li>
                            <a href="{{ base_url() }}/ACCAP/dashboard">Accredidact voor Apothekers</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCAA/dashboard">Accredidact voor Apothekersassistenten</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCDA/dashboard">Accredidact voor Doktersassistenten</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCFC/dashboard">Accredidact voor Farmaceutisch Consulenten</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCHA/dashboard">Accredidact voor Huisartsen</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCPS/dashboard">Accredidact voor Psychiaters</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/ACCTA/dashboard">Accredidact voor Tandartsen</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-6">
                    <div id="accredidact"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Zwinq
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <a href="{{ base_url() }}/NAVP/dashboard" class="">Nurse Academy</a>
                            </li>
                            <li>
                                <a href="{{ base_url() }}/NAGGZGZ/dashboard" class="">Nurse Academy GGZ </a>
                            </li>
                            <li>
                                <a href="{{ base_url() }}/NAOZ/dashboard" class="">Nurse Academy Ouderenzorg</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <div id="zwinq"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{% block close_script %}
    <script>
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {
                        "renderTo": "prelum",
                                "type": "bar"},
                        "title": {"text": null},
                        "xAxis": {
                        "categories":{{data.prelum.naam|json_encode()|raw}}
                        },
                        "series": [
                        {
                        "data":{{data.prelum.aantal|json_encode()|raw}},
                                "name": "Aantal"
                        }]
                });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {
                        "renderTo": "accredidact",
                                "type": "bar"},
                        "title": {"text": null},
                        "xAxis": {
                        "categories":{{data.accredidact.naam|json_encode()|raw}}
                        },
                        "series": [
                        {
                        "data":{{data.accredidact.aantal|json_encode()|raw}},
                                "name": "Aantal"
                        }]
                });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {
                        "renderTo": "zwinq",
                                "type": "bar"},
                        "title": {"text": null},
                        "xAxis": {
                        "categories":{{data.zwinq.naam|json_encode()|raw}}
                        },
                        "series": [
                        {
                        "data":{{data.zwinq.aantal|json_encode()|raw}},
                                "name": "Aantal"
                        }]
                });
    </script>
{%endblock%}