{% extends "default.html.twig"%}
{% block title %}Koop{% endblock %}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/twbs/bootstrap/js/modal.js"></script>
{%endblock%}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Koop: {{product.naam}}</h1>
            </div>        

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Proefnummeraanvragen
                    </div>
                    <div class = "panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block close_script %}
    <script>
        $(document).ready(function () {
            var table = $('#toetsen').DataTable({
                "autoWidth": false,
                "order": [[1, 'asc']],
                "displayLength": 20
            });
        });
    </script>
{%endblock%}