{% extends "default.html.twig"%}
{% block title %}Proefnummers{% endblock %}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/twbs/bootstrap/js/modal.js"></script>
{%endblock%}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Proefnummers: {{product.naam}}</h1>
            </div> 
            <div class="col-lg-3">
                <div class="well">
                    <p>Aantal aanvragen: {{subscriptions.count()}}</p>
                </div>
            </div>  
            <div class="col-lg-3">
                <div class="well">
                    <p>Geconverteerd: {{converted.count()}} ({{conversion_ratio|round(2, 'floor')}}%)</p>
                </div>
            </div>  
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Proefnummeraanvragen
                    </div>
                    <div class = "panel-body">
                        <table id='proefnummers' class= 'table table-striped table-bordered table-hover'>
                            <thead>
                                <tr>
                                    <td>Userid</td>
                                    <td>Naam</td>
                                    <td>Aangevraagd</td>
                                    <td>Geconverteerd</td>
                                    <td>Huidige abonnementsvorm</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subscription in subscriptions.getData() %}
                                    <tr>
                                        <td>{{subscription.userid}}</td>
                                        <td>{{subscription.getFullName()}}</td>
                                        <td>{{subscription.typeProefnummer}}</td>
                                        <td>{% if subscription.isRegistrationTypeSubscriptionType() == false %}Ja{%else%}Nee{%endif%}</td>
                                        <td>{{subscription.aAbosoort}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block close_script %}
    <script>
        $(document).ready(function () {
            var table = $('#proefnummers').DataTable({
                "autoWidth": false,
                "order": [[1, 'asc']],
                "displayLength": 20
            });
        });
    </script>
{%endblock%}