{% extends "default.html.twig"%}
{% block title %}Website{% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Website: {{product.naam}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class = "panel-body">
                        <b>Let op!</b> De onderstaande gegevens zijn op basis van een periode van 4 weken, tenzij anders aangegeven.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="well">
                    <h5>Unieke bezoekers: </h5> {{data.uniekebezoekers}}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well">
                    <h5>Bezoeken per persoon: </h5> {{data.gembezoeken|round(1,'ceil')}}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well">
                    <h5>Gemiddelde bezoekduur: </h5> {{data.gembezoekduur|round(1,'ceil')}} seconden
                </div>
            </div>
            <div class="col-lg-3">
                <div class="well" data-toggle="popover"  data-trigger="hover" data-placement="top" data-content="De bounce rate is het percentage bezoekers dat niet verder surft dan de homepage.">
                    <h5>Bounce rate: </h5> {{data.bouncerate|round(1,'ceil')}}%
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Sessies overzicht (over het laatste jaar)
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <div id="webviews"></div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bezoeken per land
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <div id="landen"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bezoeken per browser
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <div id="browsers"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Bezoeken per paginatitel
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <table id="bezoekenperpaginatitel"class="table table-striped table-hover" ">
                                <thead>
                                    <tr>
                                        <td>Pagina</td>
                                        <td>Aantal</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pagina in data.bezoekenperpaginatitel %}
                                        <tr>
                                            {% for veld in pagina %}
                                                <td>{{veld}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Bezoeken per verwijzende URLS
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <table id="verwijzendeurls"class="table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <td>Pagina</td>
                                        <td>Aantal</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pagina in data.verwijzendeurls %}
                                        <tr>
                                            {% for veld in pagina %}
                                                <td>{{veld}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Bezoeken per zoekwoord
                    </div>
                    <div class = "panel-body">
                        <div class="col-lg-12">
                            <table id="populairezoekwoorden"class="table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <td>Pagina</td>
                                        <td>Aantal</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pagina in data.populairezoekwoorden %}
                                        <tr>
                                            {% for veld in pagina %}
                                                <td>{{veld}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
        </div>       
    </div>                
{% endblock %}
{% block close_script %}
    <script>
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {"renderTo": "landen", "type": "pie"},
                        "xAxis": {"title": {"text": null}},
                        "legend": {"enabled": false},
                        "yAxis": {"title": {"text": null}},
                        "title": {"text": null},
                        "tooltip": {"pointFormat": "<b>{point.percentage:.1f}%<\/b>"},
                        "series": [{"data":{{data.bezoekenperland |json_encode() | raw}}
                        }]
                });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {"renderTo": "browsers", "type": "pie"},
                        "xAxis": {"title": {"text": null}},
                        "legend": {"enabled": false},
                        "yAxis": {"title": {"text": null}},
                        "title": {"text": null},
                        "tooltip": {"pointFormat": "<b>{point.percentage:.1f}%<\/b>"},
                        "series": [{"data":{{data.bezoekenperbrowser |json_encode() | raw}}
                        }]
                });
                new Highcharts.Chart({
                "credits": {"enabled": false},
                        "chart": {"renderTo": "webviews", "zoomType": "x", "type": "line"},
                        "xAxis": {"title": {"text": null}, "maxZoom": 1209600000, "type": "datetime"},
                        "plotOptions": {"line": {"marker": {"enabled": false}}},
                        "legend": {"enabled": false},
                        "yAxis": {"title": {"text": null}},
                        "title": {"text": null},
                        "series": [{
                        "name": null,
                                "lineColor": "green",
                                "pointInterval": 86400000,
                                "pointStart": Date.UTC({{data.webviews.jaar}}, {{data.webviews.maand}} - 1, {{data.webviews.dag}}),
                                "data":{{data.webviews.aantal |json_encode() |raw}}
                        }]
                });
                $('#bezoekenperpaginatitel').DataTable({
        "order": [[1, "desc"]],
                "pageLength": 10,
                "ordering": false,
                "info": false,
                "searching": false
        });
                $('#verwijzendeurls').DataTable({
        "order": [[1, "desc"]],
                "pageLength": 10,
                "ordering": false,
                "info": false,
                "searching": false
        });
                $('#populairezoekwoorden').DataTable({
        "order": [[1, "desc"]],
                "pageLength": 10,
                "ordering": false,
                "info": false,
                "searching": false
        });
    </script>
{%endblock%}
