<html>
<head><title>404 Pagina niet gevonden</title>
    <style>body {
            margin: 0;
            padding: 30px;
            font: 12px/1.5 Helvetica, Arial, Verdana, sans-serif;
        }

        h1 {
            margin: 0;
            font-size: 48px;
            font-weight: normal;
            line-height: 48px;
        }

        strong {
            display: inline-block;
            width: 65px;
        }</style>
</head>
<body><h1>Pagina niet gevonden</h1>
<p>De pagina die je zoekt is niet gevonden. Controleer de url of deze correct geformateerd is. Ga anders terug naar de
    thuispagina.</p><a href="/">Thuispagina</a></body>
</html>