{% extends "default.html.twig"%}
{% block title %}Nascholing{% endblock %}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/twbs/bootstrap/js/modal.js"></script>
{%endblock%}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include '/partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nascholing: {{product.naam}}</h1>
            </div>        
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddeld verwerkt: {{data.gemiddeld_verwerkt}}</h5> 
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <h5>Gemiddelde score: {{data.gemiddeld_resultaat|round(2, 'floor') }} %</h5> 
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Artikelen
                    </div>
                    <div class = "panel-body">
                        <table id='toetsen' class= 'table table-striped table-bordered table-hover'>
                            <thead>
                                <tr>
                                    <td>uitgave</td>
                                    <td>artikel id</td>
                                    <td>titel</td>
                                    <td>startdatum</td>
                                    <td>einddatum</td>
                                    <td>aantal verwerkt</td>
                                    <td>gemiddeld</td>
                                    <td>PE Course ID</td>
                                    <td>PE Module ID</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for artikel in data.artikelen %}
                                    <tr>
                                        <td>{{artikel.uitgave}}</td>
                                        <td>{{artikel.nascholingsid}}</td>
                                        <td>{{artikel.titel}}</td>
                                        <td>{{artikel.startdatum}}</td>
                                        <td>{{artikel.einddatum}}</td>
                                        <td>{{artikel.aantal}}</td>
                                        <td>{{artikel.gemiddelde}}</td>
                                        <td>{{artikel.PeCourseId}}</td>
                                        <td>{{artikel.PeModuleId}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block close_script %}
    <script>
        $(document).ready(function () {
            var table = $('#toetsen').DataTable({
                "autoWidth": false,
                "order": [[4, 'asc']],
                "displayLength": 20
            });
        });
    </script>
{%endblock%}