<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ base_url() }}/{{ product.datacode }}/dashboard"><i class="fa fa-dashboard fa-fw"></i>
                    Dashboard</a>
            </li>
            {% if product.heeft_abonnementen %}
                <li>
                    <a><i class="fa fa-user fa-fw"></i> Abonneegegevens<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/abonnees/abonnementen">Abonnementen</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/abonnees/demografie">Demografie
                                abonnees</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/abonnees/geografie">Geografie abonnees</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if product.heeft_koop %}
                <li>
                    <a href="{{ base_url() }}/{{ product.datacode }}/koop"><i class="fa fa-shopping-cart fa-fw"></i>
                        Kopers</a>
                </li>
            {% endif %}
            {% if product.heeft_events %}
                <li>
                    <a href="{{ base_url() }}/{{ product.datacode }}/events"><i class="fa fa-money fa-university"></i>
                        Events</a>
                </li>
            {% endif %}

            {% if product.heeft_elearning and product.type_voortgang == 'uitgave' %}
                <li>
                    <a><i class="fa fa-graduation-cap fa-fw"></i> Nascholing<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/uitgaves"> Uitgaves</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/nascholingsartikelen"> Artikelen</a>
                        </li>
                        <!--<li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/gebruikers"> Gebruikers</a>
                        </li>-->
                    </ul>
                </li>
            {% elseif product.heeft_elearning and product.type_voortgang == 'artikel' %}
                <li>
                    <a><i class="fa fa-graduation-cap fa-fw"></i> Nascholing<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/uitgaves"> Uitgaves</a>
                        </li>
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/nascholingsartikelen"> Artikelen</a>
                        </li>
                        <!--<li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/gebruikers"> Gebruikers</a>
                        </li>-->
                    </ul>
                </li>
            {% elseif product.heeft_elearning and product.type_voortgang == 'uitgave_los' %}
                <li>
                    <a><i class="fa fa-graduation-cap fa-fw"></i> Nascholing<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/uitgaves"> Uitgaves</a>
                        </li>
                        <!--<li>
                            <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/gebruikers"> Gebruikers</a>
                        </li>-->
                    </ul>
                </li>
            {% elseif product.heeft_elearning %}
                <li>
                    <a href="{{ base_url() }}/{{ product.datacode }}/nascholing/default"><i
                                class="fa fa-graduation-cap fa-fw"></i> Nascholing</a>
                </li>
            {% endif %}
            {% if product.heeft_analytics %}
                <li>
                    <a href="{{ base_url() }}/{{ product.datacode }}/website/analytics"><i
                                class="fa fa-desktop fa-fw"></i> Websitegebruik</a>
                </li>
            {% endif %}
            {% if product.heeft_marketing %}
                <li>
                    <a><i class="fa fa-gift fa-fw"></i> Marketing<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if product.heeft_proefnummers %}
                            <li>
                                <a href="{{ base_url() }}/{{ product.datacode }}/proefnummers">Proefnummers</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>