{% extends "default.html.twig" %}
{% block title %}Nascholing{% endblock %}
{% block init_script %}
    <script type="text/javascript" src="{{ base_url() }}/vendor/twbs/bootstrap/js/modal.js"></script>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include '/partial/header.html.twig' %}
        {% include 'partial/navbar.html.twig' %}
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Uitgave resultaten: {{ product.naam }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.gemiddeld_unieke_gebruikers }}</div>
                    <div class="text-center well-info">Gemiddeld unieke gebruikers per uitgave</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.gemiddeld_aantal_pogingen }}</div>
                    <div class="text-center well-info">Gemiddeld pogingen per gebruiker per uitgave</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.gemiddeld_percentage }}</div>
                    <div class="text-center well-info">Gemiddeld percentage</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.statussen.uitgave_afgerond }}</div>
                    <div class="text-center well-info">Gemiddeld gehaald</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.statussen.uitgave_gefaald }}</div>
                    <div class="text-center well-info">Gemiddeld gefaald</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="well">
                    <div class="text-center well-data">{{ statistiek.statussen.uitgave_bezig }}</div>
                    <div class="text-center well-info">Gemiddeld bezig</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-table fa-fw"></i> Uitgaves
                    </div>
                    <div class="panel-body">
                        <table id='uitgaves' class='table table-striped table-bordered table-hover'>
                            <thead>
                            <tr>
                                <td>titel</td>
                                <td>jaargang</td>
                                <td>vereist percentage</td>
                                <td>aantal pogingen</td>
                                <td>publicatie datum</td>
                                <td>eind datum</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for uitgave in uitgaves %}
                                <tr>
                                    <td>{{ uitgave.titel }}</td>
                                    <td>{{ uitgave.jaar }} - {{ uitgave.jaargang }}</td>
                                    <td>{{ uitgave.vereiste_percentage }}%</td>
                                    <td>{{ uitgave.aantal_pogingen }}</td>
                                    <td>{{ uitgave.publicatie_datum }}</td>
                                    <td>{{ uitgave.eind_datum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block close_script %}
    <script>
        $(document).ready(function () {
            var table = $('#uitgaves').DataTable({
                "autoWidth": false,
                "displayLength": 20,
                "order": [[4, 'desc']],
            });
        });
    </script>
{% endblock %}